:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  /* font-family: Roboto; */
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  width: 63px;
  height: 28px;
  top: 259px;
  left: 381px;
  color: #000000;
}

select {
  border: none;
  border-radius: 8px;
  width: 110px;
  height: 29px;
  top: 194px;
  left: 37px;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

.tasksMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasksHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 518px;
  height: 29px;
  top: 258px;
  left: 381px;
}

.tasksList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-menu-button {
  width: 110px;
  height: 29px;
}

.main-menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
